In this guided project, we'll work with a dataset of used cars from _eBay Kleinanzeigen_, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to Kaggle by user orgesleka.

A subsample of the original dataset was created by setecting only 50000 data points. Since Kaggle datasets tend to be already relatively clean, changes were made to make it more closely resemble a real-world scraped dataset.

The data dictionary provided with data is as follows:

* `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.
* `name` - Name of the car.
* `seller` - Whether the seller is private or a dealer.
* `offerType` - The type of listing
* `price` - The price on the ad to sell the car.
* `abtest` - Whether the listing is included in an A/B test.
* `vehicleType` - The vehicle Type.
* `yearOfRegistration` - The year in which the car was first registered.
* `gearbox` - The transmission type.
* `powerPS` - The power of the car in PS.
* `model` - The car model name.
* `kilometer` - How many kilometers the car has driven.
* `monthOfRegistration` - The month in which the car was first registered.
* `fuelType` - What type of fuel the car uses.
* `brand` - The brand of the car.
* `notRepairedDamage` - If the car has a damage which is not yet repaired.
* `dateCreated` - The date on which the eBay listing was created.
* `nrOfPictures` - The number of pictures in the ad.
* `postalCode` - The postal code for the location of the vehicle.
* `lastSeenOnline` - When the crawler saw this ad last online.

The aim of this project is to clean the data and analyze the included used car listings. This will be done mainly through the use of pandas.

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding='Latin-1')
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Looks like the data consists of a mixture of strings and numerical data. There are also quite a few null values. There are the 20 expected columns (from the data dictionary given) and column names use [camelcase](https://en.wikipedia.org/wiki/Camel_case). Let us change the names to the more preferred [snakecase](https://en.wikipedia.org/wiki/Snake_case). We will also reword some of these names to be more descriptive.

In [2]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [3]:
autos.rename({'dateCrawled': 'date_crawled',
              'offerType' : 'offer_type',
              'vehicleType' : 'vehicle_type',
              'yearOfRegistration' : 'registration_year',
              'powerPS' : 'power_PS',
              'monthOfRegistration' : 'registration_month',
              'fuelType' : 'fuel_type',
              'notRepairedDamage' : 'unrepaired_damage',
              'dateCreated' : 'ad_created',
              'nrOfPictures' : 'nr_of_pictures',
              'postalCode' : 'postal_code',
              'lastSeen' : 'last_seen'}, axis=1, inplace = True)

In [4]:
print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

Now let's try to explore the data a little more

In [5]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-05 16:57:05,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Based on this information, looks like the `seller` and `offer_type` columns are mostly made up of just one entry. We can get rid of those. `price` and `odometer` should be numerical but are probably strings. Columns such as `gearbox`, `fuel_type` and `unrepaired_damage` can probably be changed to some sort of categorical data. Finally, `nr_of_pictures` does not look right and should be investigated further. 

Let's start by looking at the `price` and `odometer` columns and seeing what we need to do to turn them into numerical data.

In [6]:
print(autos['price'].head())
print(autos['odometer'].head())

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object
0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

We should remove the '$' sign for `price` and the 'km' for `odometer`. We will also rename the odometer column to specify it is in km.

In [7]:
autos['price'] = autos['price'].str.replace('$','').str.replace(',','').astype(int)
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(int)
autos.rename({'odometer':'odometer_km'}, axis=1, inplace=True)
autos.describe()

,price,registration_year,power_PS,odometer_km,registration_month,nr_of_pictures,postal_code
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

Looking at the `price` column, the minimum of 0 and maximum of 1 billion dollars seems strange. Let us explore a little more.

In [8]:
print(autos['price'].unique().shape)
print(autos['price'].value_counts().sort_index().head(10))
print(autos['price'].value_counts().sort_index().tail(10))

(2357,)
0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
Name: price, dtype: int64
999990      1
999999      2
1234566     1
1300000     1
3890000     1
10000000    1
11111111    2
12345678    3
27322222    1
99999999    1
Name: price, dtype: int64

Let's look at this a little further by seeing counts less than say 500 and more than 1000000 dollars.

In [9]:
np.sum((autos['price']<500) | (autos['price']>1000000))

4900

There are 4900 of these values. We should just set them to None because they are unlikely to be real car prices

In [10]:
autos.loc[((autos['price']<500) | (autos['price']>1000000)),'price'] = np.nan

Now let's repeat our analysis for the odometer settings

In [11]:
print(autos['odometer_km'].unique().shape)
print(autos['odometer_km'].value_counts().sort_index().head(10))
print(autos['odometer_km'].value_counts().sort_index().tail(10))

(13,)
5000      967
10000     264
20000     784
30000     789
40000     819
50000    1027
60000    1164
70000    1230
80000    1436
90000    1757
Name: odometer_km, dtype: int64
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

There are only 13 odometer values and none look like obvious outliers. There is a majority with a value of 150000 but there are also no higher value and that may just be the maximum on the ad listing website. We do not have to do anything here.

Now let us look at some of the time fields `date_crawled`, `ad_created` and `last_seen`.

In [12]:
date_info = autos[['date_crawled','ad_created','last_seen']]
date_info.head()

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

First let us look at the crawl date of the listings

In [13]:
autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.02538
2016-03-06    0.01394
2016-03-07    0.03596
2016-03-08    0.03330
2016-03-09    0.03322
2016-03-10    0.03212
2016-03-11    0.03248
2016-03-12    0.03678
2016-03-13    0.01556
2016-03-14    0.03662
2016-03-15    0.03398
2016-03-16    0.02950
2016-03-17    0.03152
2016-03-18    0.01306
2016-03-19    0.03490
2016-03-20    0.03782
2016-03-21    0.03752
2016-03-22    0.03294
2016-03-23    0.03238
2016-03-24    0.02910
2016-03-25    0.03174
2016-03-26    0.03248
2016-03-27    0.03104
2016-03-28    0.03484
2016-03-29    0.03418
2016-03-30    0.03362
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03540
2016-04-03    0.03868
2016-04-04    0.03652
2016-04-05    0.01310
2016-04-06    0.00318
2016-04-07    0.00142
Name: date_crawled, dtype: float64

Looks like we have data crawled every day between March 5 and April 7, 2016. Based on the counts it does not look like there was around the same amount of data crawled every day between March 8 and April 4. 

How about when the ad was created?

In [14]:
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.00002
2015-08-10    0.00002
2015-09-09    0.00002
2015-11-10    0.00002
2015-12-05    0.00002
               ...
2016-04-03    0.03892
2016-04-04    0.03688
2016-04-05    0.01184
2016-04-06    0.00326
2016-04-07    0.00128
Name: ad_created, Length: 76, dtype: float64

While there are lots of ads created on the crawl date, there are ads from as far back as about 8 months prior to crawling the data. What about the `last_seen` column?

In [15]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.00108
2016-03-06    0.00442
2016-03-07    0.00536
2016-03-08    0.00760
2016-03-09    0.00986
2016-03-10    0.01076
2016-03-11    0.01252
2016-03-12    0.02382
2016-03-13    0.00898
2016-03-14    0.01280
2016-03-15    0.01588
2016-03-16    0.01644
2016-03-17    0.02792
2016-03-18    0.00742
2016-03-19    0.01574
2016-03-20    0.02070
2016-03-21    0.02074
2016-03-22    0.02158
2016-03-23    0.01858
2016-03-24    0.01956
2016-03-25    0.01920
2016-03-26    0.01696
2016-03-27    0.01602
2016-03-28    0.02086
2016-03-29    0.02234
2016-03-30    0.02484
2016-03-31    0.02384
2016-04-01    0.02310
2016-04-02    0.02490
2016-04-03    0.02536
2016-04-04    0.02462
2016-04-05    0.12428
2016-04-06    0.22100
2016-04-07    0.13092
Name: last_seen, dtype: float64

There is an uncharacteristic proportion of `last_seen` dates on the last three days of the crawling effort. While for the other days the date the ad was last seen was likely the sell date, the last three dates are likely just artifacts from the ads being last seen by the crawler on these dates due to that being the crawl date rather than a large increase (6X) in sales on these dates. 

Last, let's see the distribution of `registration_year`

In [16]:
autos['registration_year'].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Looks like the median registration year is 2003, with an inter-quartile range of 9 years. However, the minimum and maximum values are obvious outliers. 

The maximum is easy to deal with because a car cannot be registered after the crawl date. So the maximum should be 2016. While cars existed in the 19th century, these are likely not being listed on ebay but are highly collectible and are advertised on specialized networks. Let us (arbitrarily) say we only expect cars made in the 1920s and above. The question is how many rows do not meet these criteria.

In [17]:
num_bad_rows = np.sum(autos['registration_year']>2016) + np.sum(autos['registration_year']<1920)
bad_row_proportion = num_bad_rows/autos.shape[0]
print(bad_row_proportion)

0.03962

Since the rows where the `registration_year` does not meet our criteria represents less than 4% of the data, we can just drop those.

In [18]:
autos = autos[autos['registration_year']<2016]
autos = autos[autos['registration_year']>1920]
autos['registration_year'].value_counts(normalize=True)

2000    0.071816
2005    0.064557
1999    0.064236
2004    0.058604
2003    0.058390
          ...
1948    0.000021
1938    0.000021
1939    0.000021
1953    0.000021
1952    0.000021
Name: registration_year, Length: 76, dtype: float64

In [20]:
autos['registration_year'].describe()

count    46703.000000
mean      2002.449543
std          6.947855
min       1927.000000
25%       1999.000000
50%       2003.000000
75%       2007.000000
max       2015.000000
Name: registration_year, dtype: float64

The car with the earliest registration was registered in 1927 and the most recent registration year is 2015. This is in accordance with our range of dates. Most cars (at least the middle 50%) were registered within 10 years of 2003. 

Now let us look at the brands. We want to aggregate the data by top brands.

In [22]:
autos['brand'].value_counts(normalize = True)

volkswagen        0.211250
bmw               0.111235
opel              0.106781
mercedes_benz     0.096354
audi              0.086954
ford              0.069653
renault           0.046699
peugeot           0.029356
fiat              0.025609
seat              0.018029
skoda             0.016273
mazda             0.015095
nissan            0.015053
smart             0.013918
citroen           0.013896
toyota            0.012526
sonstige_autos    0.010963
hyundai           0.009892
volvo             0.009378
mini              0.008672
mitsubishi        0.008115
honda             0.007837
kia               0.007237
alfa_romeo        0.006659
porsche           0.006167
suzuki            0.005888
chevrolet         0.005760
chrysler          0.003683
daihatsu          0.002591
dacia             0.002591
jeep              0.002270
subaru            0.002184
land_rover        0.002056
saab              0.001627
jaguar            0.001627
trabant           0.001563
daewoo            0.001499
rover             0.001328
lancia            0.001113
lada              0.000621
Name: brand, dtype: float64

Looks like the most cars are 'Volkswagen' followed by 'BMW'. The top five brands are all German brands. We will choose the brands that are in >5% of the listings for aggregating data. 

We will aggregate and get the average price and average mileage.

In [28]:
brand_counts = autos['brand'].value_counts(normalize = True)
top_brands = brand_counts[brand_counts>0.05].index
top_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object')

In [32]:
brand_aggregate_data = {}
for brand in top_brands:
    data_subset = autos[autos['brand']==brand]
    mean_price = np.mean(data_subset['price'])
    mean_odometer = np.mean(data_subset['odometer_km'])
    brand_aggregate_data[brand] = (mean_price, mean_odometer)
    print(brand,'cars have a mean price of $',"{:.2f}".format(mean_price),
          'and have logged ',"{:.2f}".format(mean_odometer),'km on average.')

volkswagen cars have a mean price of $ 6068.31 and have logged  128462.40 km on average.
bmw cars have a mean price of $ 8627.08 and have logged  132314.73 km on average.
opel cars have a mean price of $ 3413.38 and have logged  129146.78 km on average.
mercedes_benz cars have a mean price of $ 8845.99 and have logged  130715.56 km on average.
audi cars have a mean price of $ 9610.67 and have logged  129282.20 km on average.
ford cars have a mean price of $ 4706.83 and have logged  123802.64 km on average.

Looks like Audis, Mercedes-Benz and BMWs have the highest average price even with higher average mileage. Opels are definitely the cheapest (although they tend to have slightly higher mileage than Fords). 

While it was relatively easy to look at the data in the form of prints, it is better to use a dataframe to store it so it can be easily displayed. Let us do this to our data.

In [33]:
mean_prices = {}
mean_mileages = {}
for brand in top_brands:
    data_subset = autos[autos['brand']==brand]
    mean_price = int(np.mean(data_subset['price']))
    mean_mileage = int(np.mean(data_subset['odometer_km']))
    mean_prices[brand] = mean_price
    mean_mileages[brand] = mean_mileage
price_series = pd.Series(mean_prices)
mileage_series = pd.Series(mean_mileages)
Avg_price_miles = pd.DataFrame()
Avg_price_miles['Avg Price'] = price_series
Avg_price_miles['Avg Km'] = mileage_series

In [34]:
Avg_price_miles

               Avg Price  Avg Km
volkswagen          6068  128462
bmw                 8627  132314
opel                3413  129146
mercedes_benz       8845  130715
audi                9610  129282
ford                4706  123802